<h1>新增样品</h1>
<hr>

<%= render "form"%>



<%= form_tag new_template_value_path method: :post do %>
  测试模板名称：<%= text_field_tag "template_name[name]"%><br>
  样品信息：<br>
  <%= select_tag(:sample_id, options_for_select(Sample.pluck(:name, :id)))%>

  <hr>

  测试项目：<br>
  <% Item.pluck(:name, :id).each do |item, item_id| %>
    <%= check_box_tag("item[#{item_id}]")%>
    <%= label_tag("item[#{item_id}]", item)%>
  <% end %>
  <br>
  <%= submit_tag "测试项目选好了" %>
<% end %>


<table>
  <% @temp_names.each_with_index do |temp_name, index| %>
    <tr>
      <td><%= index +1 %></td>
      <td><%= temp_name.name %></td>
    </tr>
    <tr>
      <td> &nbsp;</td>
      <td>
        <% temp_name.templates.each do |template|%>
          <%= @item[template.item_id] %>
        <% end %>
      </td>
    </tr>

  <% end %>

</table>
